* {
    margin :0;
    padding: 0;
}
body {
    background-color: rgb(0,0,33);
    color: white;
    font-family: 'poppins', sans-serif;
}
nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 75px;
    background-color: rgb(12, 12, 75);
}
nav ul {
    display: flex;
    justify-content:center;
    
}
nav ul li {
    list-style: none;
    margin: 0 23px;
}
.left{
    font-size: 1.5rem;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
    margin: 20px;
}
.firstsection > div{
    width: 37%;
}

.leftsection{
    font-size: 2.4rem;
    margin: 30px;
}
.rightsection img{
    width: 80%;
}
.purple{
    color: rgb(148, 68, 223);
}
#element{
    color:rgb(148,68,223);
}
.right ul li a{
    text-decoration: none;
    color: white;
}
.right ul li a:hover{
    color: rgb(56, 56, 219);
    font-size: .95rem;
}
main hr {
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 40px 84px;
}
.secondsection{
    max-width: 80vw;
    margin: auto;
    font-size: 1.3rem;
    height: 80vh;
}
.text-gray{
    color: gray;
}
.secondsection .box {
    background-color: white;
    width: 180vh;
    height: 2px;
    margin: 56px 0;
}
.work-experience{
    display: flex;
    height: 50%;
}

.project{
    width: 50%;
}
.skills{
    width: 50%;
}
.project ul {
    margin-top: 20px;
}
.skills ul {
    margin-top: 20px;
}
.project > ul {
    color: rgb(169, 110, 224);
}
.skills > ul {
    color: rgb(169, 110, 224);
}
main .thirdsection{
    margin: auto;
    height: 80vh;
    background-color: aqua;
}
.footer{
    background-color: rgb(24, 34, 56);
    height: 130px;
    width:auto;
}
.footer .last{
    width: 30%;
    margin-left: 550px ;
    color: gray;
    margin-top: 40px;
}
.footer .a{
    margin-left: 550px;
}

.instagram img{
    height: 20px;
    width: 20px;
    margin-left: 20px;
}
.instagram a{
    color: rgb(185, 178, 192);
    text-decoration: none;
}
.footer .instagram {
    width: 50%;
}
.facebook{
    width: 50%;
    display: contents;
}
.footer .first {
    display: flex;
    margin-top: 10px;
}
.facebook img{
    width: 40px;
    height: 40px;
}
.facebook a{
    margin-top: 15px;
    text-decoration: none;
    color: rgb(185, 178, 192);
}
.leftsection .resume a{
    text-decoration: none;
    background-color: aliceblue;
    color: rgb(21, 54, 54);
    font-size: 1.5rem;
    border-radius:3px;
    border-color: black;
}
.leftsection .github a{
    text-decoration: none;
    background-color: aliceblue;
    font-size: 1.5rem;
    color: rgb(21, 54, 54);
    border-radius:3px;
    border-width: 5px;
    border-color: rgb(52, 207, 207);
    margin:5px;
}
.leftsection .resgit {
    display: flex;
    margin-top: 20px;

}
